update_repo_template.sh
*.ASMPreview
/nbproject/private/SuppressibleMessageMemo.properties
/nbproject/private/configurations.xml
/nbproject/private/private.xml
/nbproject/private/
/nbproject/Makefile*.*
/nbproject/Package*.*
/disassembly/
/debug/
/build/
/dist/
obj/

proj.X/nbproject/private/SuppressibleMessageMemo.properties
proj.X/nbproject/private/configurations.xml
proj.X/nbproject/private/private.xml
proj.X/nbproject/private/
proj.X/nbproject/Makefile*.*
proj.X/nbproject/Package*.*
proj.X/disassembly/
proj.X/debug/
proj.X/build/
proj.X/dist/

upgradelog.htm
*.orig
*.bak
*.a
*.lst
*.err
*.cof
*.mcs
*.plt
*.d
*.i
*.dep
*.p1
*.pre
*.obj
*.rlf
*.hxl
*.sym
*.sdb
*.tmp
*.log
.map
*.as
funclist.
*.mptags
*.tagsrc
*.scm
*.mcw
*.COD
.vs/
*.pdb
*.application
*.vshost.*
*.exe.manifest
*.exe.config
*.html
log*.txt
*.vshost.exe*
*.suo
*.user
BootLoaderHID/bin/Debug/
BootLoaderHID/bin/x86/Release/
bin/Debug/serverfiles.cache
bin/x86/Debug/serverfiles.cache
bin/x86/Debug/framefiles.cache
bin/x86/Debug/Dictionary.bin
bin/Debug/RyanSync.exe
